body{
    background: rgb(251, 251, 255);
}
li{
    list-style-type: none;
}
a:link{
    color: rgb(41, 38, 51);
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
h1{
    color: rgb(49, 49, 56);
    text-align: right;
}
img{
    float: right;
}
